@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Dancing+Script:wght@400..700&family=Fredericka+the+Great&family=Great+Vibes&family=Julius+Sans+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 456.52px;
  height: 429.05px;
  border: 1px rgba(255, 255, 255, 0.39) solid;
  border-radius: 48.24px;
  box-shadow: 3px 3px 200px rgba(0, 0, 0, 0.418);
  background-color: rgba(0, 0, 0, 0.062);
}
.login-body {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-bottom: -20px;
}
.login-card h1 {
  color: white;
  font-family: "Irish Grover", system-ui;
  text-align: center;
  font-size: 38.74px;
  padding-top: 25px;
}
.input-fields {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 325.38px;
  width: 364.01px;
  position: relative;
}
.input {
  width: 364.01px;
  height: 47.5px;
  background-color: transparent;
  border-radius: 32.28px;
  border: white solid 1px;
  padding-left: 20px;
  color: #ffffff;
  transition: 0.3s all ease;
}
.input:focus {
  outline: none;
  caret-color: white;
  box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.408);
}
.input:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.408);
}
.label {
  position: relative;
  left: 5px;
  margin-top: -50px;
  color: #ffffff;
  text-shadow: black 0px 0px 4px;
}
.input::placeholder {
    color: #ffffff;
    opacity: 1;
  }
.login-button {
  margin-bottom: 20px;
  width: 119.45px;
  height: 46.81px;
  border-radius: 32px;
  border: none;
  background: rgba(217, 217, 217, 0.08);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  cursor: pointer;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.31);
  transition: background 0.25s ease, box-shadow 0.3s ease, transform 0.3s ease;
  font-family: "Caveat Brush", cursive;
  font-size: 20px;
  font-weight: 100;
}

.login-button:hover {
  box-shadow:
    0 0 12px rgba(255, 255, 255, 0.25);
  transform: translateY(-2px);
}

.login-button:active {
  transform: translateY(0);
  background: rgba(255, 255, 255, 0.18);
  box-shadow:
    0 0 8px rgba(255, 255, 255, 0.25),
    0 0 16px rgba(255, 255, 255, 0.2);
}