@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable scroll on body */
  overscroll-behavior: none; /* Disable bounce/rubber-banding */
  height: 100%;
  width: 100%;
}
* {
  margin: 0px;
}
.backdrop-div {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(300px);
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.blob-bg {
  position: fixed;
  inset: 0;
  z-index: -2;
  overflow: hidden;
}

.blob {
  position: absolute;
  transform-origin: center;
  opacity: 1;
}

/* Individual blob animations */
/* Individual blob animations */
.blob-1 path {
  animation: blob-anim-1 10s infinite linear;
  transform-origin: center;
}

.blob-2 path {
  animation: blob-anim-2 10s infinite linear;
  transform-origin: center;
}

.blob-3 path {
  animation: blob-anim-3 10s infinite linear;
  transform-origin: center;
}

.blob-4 path {
  animation: blob-anim-4 10s infinite linear;
  transform-origin: center;
}

.blob-5 path {
  animation: blob-anim-5 10s infinite linear;
  transform-origin: center;
}

.blob-6 path {
  animation: blob-anim-6 10s infinite linear;
  transform-origin: center;
}

/* Keyframes for path morphing */
@keyframes blob-anim-1 {
  0%,
  100% {
    d: path(
      "M1252.76 441C1322.65 426.929 1346.68 541.267 1396.98 591.798C1436.48 631.476 1513.96 648.97 1515.5 704.935C1517.14 764.643 1435.99 789.077 1403.77 839.374C1383.36 871.248 1392.29 918.119 1363.34 942.505C1333.76 967.418 1290.49 975.042 1252.76 966.585C1218.13 958.823 1207.41 909.139 1173.15 899.878C1101.58 880.534 981.94 956.201 956.6 886.533C931.69 818.046 1072.7 803.939 1117.28 746.288C1139.76 717.215 1130.43 676.047 1145.34 642.455C1176.98 571.15 1176.28 456.395 1252.76 441Z"
    );
  }
  33% {
    d: path(
      "M1264.08 -15.8099C1333.98 -29.8806 1358.01 84.4575 1408.31 134.988C1447.81 174.666 1525.29 192.16 1526.83 248.125C1528.47 307.833 1447.32 332.267 1415.1 382.564C1394.69 414.438 1403.61 461.309 1374.66 485.695C1345.09 510.608 1301.82 518.232 1264.08 509.775C1229.45 502.013 1218.73 452.329 1184.47 443.068C1112.91 423.724 993.267 499.391 967.927 429.723C943.017 361.236 1084.03 347.129 1128.61 289.478C1151.09 260.405 1141.76 219.237 1156.66 185.645C1188.31 114.34 1187.61 -0.414772 1264.08 -15.8099Z"
    );
  }
  66% {
    d: path(
      "M1103.08 685.857C1172.98 671.786 1197.01 456.124 1247.31 506.654C1286.81 546.333 1364.29 563.826 1365.83 619.792C1367.47 679.499 1286.32 703.934 1254.1 754.231C1233.69 786.105 1242.61 832.976 1213.66 857.362C1184.09 882.275 1140.82 889.899 1103.08 881.441C1068.45 873.68 1057.73 823.995 1023.47 814.735C951.909 795.39 832.267 871.058 806.927 801.39C782.017 732.903 923.031 718.795 967.61 661.144C990.092 632.071 980.757 590.904 995.664 557.312C1027.31 486.006 1026.61 701.252 1103.08 685.857Z"
    );
  }
}

@keyframes blob-anim-2 {
  0%,
  100% {
    d: path(
      "M738.033 358.657C798.936 388.095 784.961 481.917 824.755 536.617C846.49 566.495 889.746 570.407 912.979 599.136C946.511 640.599 987.576 683.426 986.596 736.742C985.517 795.466 952.593 851.622 907.643 889.427C860.905 928.738 799.073 943.792 738.033 945.801C675.363 947.864 595.38 952.712 560.112 900.867C522.995 846.305 603.578 768.652 576.567 708.443C543.18 634.017 406.326 627.927 401.151 546.52C396.616 475.171 494.99 442.221 557.43 407.401C613.256 376.269 680.485 330.839 738.033 358.657Z"
    );
  }
  33% {
    d: path(
      "M271.033 436.657C331.936 466.095 317.961 559.917 357.755 614.617C379.49 644.495 422.746 648.407 445.979 677.136C479.511 718.599 520.576 761.426 519.596 814.742C518.517 873.466 485.593 929.622 440.643 967.427C393.905 1006.74 332.073 1021.79 271.033 1023.8C208.363 1025.86 128.38 1030.71 93.1116 978.867C55.9947 924.305 136.578 846.652 109.567 786.443C76.1802 712.017 -60.6736 705.927 -65.8486 624.52C-70.3841 553.171 27.9901 520.221 90.4305 485.401C146.256 454.269 213.485 408.839 271.033 436.657Z"
    );
  }
  66% {
    d: path(
      "M703.514 37.3749C764.417 66.8133 750.442 160.635 790.236 215.336C811.972 245.213 855.227 249.125 878.46 277.854C911.992 319.317 953.057 362.144 952.077 415.46C950.998 474.185 918.074 530.34 873.124 568.145C826.386 607.456 764.554 622.51 703.514 624.52C640.845 626.583 560.861 631.431 525.593 579.586C488.476 525.023 569.059 447.371 542.049 387.161C508.661 312.735 371.808 306.645 366.633 225.238C362.097 153.889 460.471 120.939 522.912 86.1189C578.737 54.9875 645.966 9.55748 703.514 37.3749Z"
    );
  }
}

@keyframes blob-anim-3 {
  0%,
  100% {
    d: path(
      "M1258.8 56.3741C1230.77 56.6399 1257.03 140.656 1255.12 183.562C1253.63 217.254 1232.52 240.853 1248.85 280.488C1266.28 322.773 1301.26 328.168 1327.37 358.899C1342.92 378.373 1354.99 412.68 1372.19 425.639C1389.76 438.878 1406.79 437.948 1417.08 426.5C1426.53 415.993 1415.22 379.444 1424.09 367.936C1442.63 343.896 1506.14 379.766 1493.78 327.016C1481.64 275.16 1429.39 285.752 1396.85 251.643C1380.45 234.441 1371.22 204.092 1356.03 182.606C1322.79 136.997 1288.47 56.0834 1258.8 56.3741Z"
    );
  }
  33% {
    d: path(
      "M1073.89 27.3239C1063.17 1.42291 995.044 57.1634 954.532 71.425C922.721 82.6238 892.946 71.8611 862.281 101.817C829.566 133.776 837.629 168.239 818.878 203.941C806.995 226.566 779.31 249.657 773.714 270.451C767.997 291.694 775.219 307.139 789.685 312.414C802.962 317.255 832.638 293.106 846.628 297.038C875.851 305.249 866.303 377.564 910.619 346.397C954.183 315.759 924.84 271.25 944.326 228.327C954.152 206.682 978.86 186.791 993.116 164.674C1023.38 117.726 1085.61 55.6629 1073.89 27.3239Z"
    );
  }
  66% {
    d: path(
      "M1405.89 -14.6761C1395.17 -40.5771 1327.04 15.1634 1286.53 29.425C1254.72 40.6238 1224.95 29.8611 1194.28 59.8169C1161.57 91.7755 1169.63 126.239 1150.88 161.941C1139 184.566 1111.31 207.657 1105.71 228.451C1100 249.694 1107.22 265.139 1121.69 270.414C1134.96 275.255 1164.64 251.106 1178.63 255.038C1207.85 263.249 1198.3 335.564 1242.62 304.397C1286.18 273.759 1256.84 229.25 1276.33 186.327C1286.15 164.682 1310.86 144.791 1325.12 122.674C1355.38 75.7259 1417.61 13.6629 1405.89 -14.6761Z"
    );
  }
}

@keyframes blob-anim-4 {
  0%,
  100% {
    d: path(
      "M343.08 35.6157C383.963 54.7231 380.472 124.244 422.238 141.335C489.824 168.992 579.608 108.274 635.499 155.275C690.679 201.677 707.194 292.81 683.223 360.807C659.327 428.592 580.533 455.859 517.414 490.238C462.484 520.157 403.39 562.661 343.08 546.073C284.191 529.877 260.134 461.499 226.814 410.313C205.101 376.957 200.656 338.144 184.151 301.926C164.459 258.716 121.288 225.615 121.005 178.131C120.677 123.104 136.212 59.0208 182.523 29.3006C228.731 -0.352549 293.34 12.3691 343.08 35.6157Z"
    );
  }
  33% {
    d: path(
      "M693.08 322.616C733.963 341.723 730.472 411.244 772.238 428.335C839.824 455.992 929.608 395.274 985.499 442.275C1040.68 488.677 1057.19 579.81 1033.22 647.807C1009.33 715.592 930.533 742.859 867.414 777.238C812.484 807.157 753.39 849.661 693.08 833.073C634.191 816.877 610.134 748.499 576.814 697.313C555.101 663.957 550.656 625.144 534.151 588.926C514.459 545.716 471.288 512.615 471.005 465.131C470.677 410.104 486.212 346.021 532.523 316.301C578.731 286.647 643.34 299.369 693.08 322.616Z"
    );
  }
  66% {
    d: path(
      "M801.08 111.616C841.963 130.723 838.472 200.244 880.238 217.335C947.824 244.992 1037.61 184.274 1093.5 231.275C1148.68 277.677 1165.19 368.81 1141.22 436.807C1117.33 504.592 1038.53 531.859 975.414 566.238C920.484 596.157 861.39 638.661 801.08 622.073C742.191 605.877 718.134 537.499 684.814 486.313C663.101 452.957 658.656 414.144 642.151 377.926C622.459 334.716 579.288 301.615 579.005 254.131C578.677 199.104 594.212 135.021 640.523 105.301C686.731 75.6475 751.34 88.3691 801.08 111.616Z"
    );
  }
}

@keyframes blob-anim-5 {
  0%,
  100% {
    d: path(
      "M157.517 400.447C217.601 411.323 217.646 508.8 271.008 538.479C338.362 575.94 458.926 516.314 491.461 586.181C522.21 652.212 414.425 703.524 376.95 765.984C350.599 809.904 347.223 868.709 304.763 897.353C262.787 925.67 205.411 930.449 157.517 914.016C114.953 899.412 99.587 849.511 69.0347 816.471C46.2927 791.878 10.3359 777.686 1.55644 745.361C-7.10218 713.48 23.1413 684.385 24.1932 651.366C25.9432 596.431 -16.136 539.707 9.65388 491.17C37.4673 438.824 99.1889 389.889 157.517 400.447Z"
    );
    fill: #ab658f;
  }
  33% {
    d: path(
      "M283.517 -40.5528C343.601 -29.6766 343.646 67.8001 397.008 97.4791C464.362 134.94 584.926 75.3137 617.461 145.181C648.21 211.212 540.425 262.524 502.95 324.984C476.599 368.904 473.223 427.709 430.763 456.353C388.787 484.67 331.411 489.449 283.517 473.016C240.953 458.412 225.587 408.511 195.035 375.471C172.293 350.878 136.336 336.686 127.556 304.361C118.898 272.48 149.141 243.385 150.193 210.366C151.943 155.431 109.864 98.7069 135.654 50.1696C163.467 -2.17599 225.189 -51.1111 283.517 -40.5528Z"
    );
    fill: #6892d5;
  }
  66% {
    d: path(
      "M145.517 56.4472C205.601 67.3234 205.646 164.8 259.008 194.479C326.362 231.94 446.926 172.314 479.461 242.181C510.21 308.212 402.425 359.524 364.95 421.984C338.599 465.904 335.223 524.709 292.763 553.353C250.787 581.67 193.411 586.449 145.517 570.016C102.953 555.412 87.587 505.511 57.0347 472.471C34.2927 447.878 -1.6641 433.686 -10.4436 401.361C-19.1022 369.48 11.1413 340.385 12.1932 307.366C13.9432 252.431 -28.136 195.707 -2.34612 147.17C25.4673 94.824 87.1889 45.8889 145.517 56.4472Z"
    );
    fill: #6892d5;
  }
}

@keyframes blob-anim-6 {
  0%,
  100% {
    d: path(
      "M998.183 125.599C1041.75 135.93 1093.36 89.764 1128.95 116.947C1164.68 144.238 1136.23 205.202 1155.54 245.803C1179.98 297.194 1253.92 323.167 1254.06 380.071C1254.2 436.866 1206.82 488.671 1156.2 514.424C1108.06 538.916 1051.65 517.895 998.183 510.252C953.044 503.8 912.993 488.398 869.898 473.5C804.199 450.788 705.227 465.097 680.088 400.287C655.438 336.737 749.326 287.684 773.033 223.776C795.148 164.162 754.705 67.4481 812.988 42.0334C876.626 14.2843 930.632 109.583 998.183 125.599Z"
    );
  }
  33% {
    d: path(
      "M1271.18 624.599C1314.75 634.93 1366.36 588.764 1401.95 615.947C1437.68 643.238 1409.23 704.202 1428.54 744.803C1452.98 796.194 1526.92 822.167 1527.06 879.071C1527.2 935.866 1479.82 987.671 1429.2 1013.42C1381.06 1037.92 1324.65 1016.9 1271.18 1009.25C1226.04 1002.8 1185.99 987.398 1142.9 972.5C1077.2 949.788 978.227 964.097 953.088 899.287C928.438 835.737 1022.33 786.684 1046.03 722.776C1068.15 663.162 1027.7 566.448 1085.99 541.033C1149.63 513.284 1203.63 608.583 1271.18 624.599Z"
    );
  }
  66% {
    d: path(
      "M399.183 600.599C442.755 610.93 494.364 564.764 529.949 591.947C565.675 619.238 537.235 680.202 556.54 720.803C580.975 772.194 654.92 798.167 655.06 855.071C655.199 911.866 607.82 963.671 557.2 989.424C509.06 1013.92 452.652 992.895 399.183 985.252C354.044 978.8 313.993 963.398 270.898 948.5C205.199 925.788 106.227 940.097 81.0885 875.287C56.4382 811.737 150.326 762.684 174.033 698.776C196.148 639.162 155.705 542.448 213.988 517.033C277.626 489.284 331.632 584.583 399.183 600.599Z"
    );
  }
}

/* glass surface */
.glass-surface {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px) saturate(1.8);
  -webkit-backdrop-filter: blur(12px) saturate(1.8);
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* Lighting shine */
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.4),
    inset 0 -1px 0 rgba(255, 255, 255, 0.25);

  transition: 0.25s ease;
}
.glass-surface:hover {
  background: rgba(255, 255, 255, 0.35);
  transform: translateY(-1px);
}
.glass-surface:active {
  transform: scale(0.98);
}
